<div class='row'>
  <div class='col-md-8 col-md-offset-2'>
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:'form-control' %>
      </div>
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, class:'form-control' %>
      </div>
      <% if f.object.password_required? %>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control'%>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign up", class:'btn btn-primary pull-right'%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
