<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr><td style='color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial' align="center" valign="top">
    <table width="650" border="0" cellpadding="0" cellspacing="20">
      <tr>
        <td style='color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial' colspan="2">
          <%=link_to "Yaoie's Fund", root_url, {style: 'font-size: 1.7em; font-weight: bold' } %>
        </td>
      </tr>
      <tr><td colspan="2"><h4>There is a new fund you might be interested in</h4></td></tr>
        <tr>
          <td style='background-color:#555555; height:2px' colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td style='color:#000000; width: 202px; font-size:14px; font-family:Verdana,Helvetica,Arial'>
            <%=link_to image_tag('default.jpg', style: "border: solid 1px #777777", size: "200x127"), product_url(@product) %>
          </td>
          <td style='color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial' valign="top">
            <h2 style='margin-top:0; margin-bottom:8px; font-size:18px'><%=@product.title%></h2>
            <p sytle='margin: 8px 0'><%=truncate(@product.description, :length => 200, :seperator => '')%></p>
          </td>
        </tr>
        <tr>
          <td style='background-color:#555555; height:2px' colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
    </table>
  </td></tr>
</table>
  </table>
