<% if object.errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% for message in object.errors.full_messages %>
      <%= message %>
    <% end %>
  </div>
<% end %>
