<%=form_for @product do |f| %>
  <%=render 'shared/error_messages', object: @product%>

  <div class='form-group'>
    <%=f.label :title %></br>
    <%=f.text_field :title, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%=f.label :description %></br>
    <%=f.text_area :description, class:'form-control', rows: 7 %>
  </div>

  <div class='form-group'>
    <%=f.label :target, 'Target amount' %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
        <%=f.text_field :target, class:'form-control' %>
        <div class="input-group-addon">.00</div>
    </div>
  </div>

  <%=f.submit 'Submit', class:'btn btn-primary pull-right' %>
  <%=link_to 'Cancel', root_path, class:'btn btn-default' %>

<% end %>
