<div class='list-group'>
  <%=link_to product_path(product), class: 'list-group-item' do %>
    <h4 class='list-group-item-heading'><%=product.title %> (<%=number_to_currency(product.target, precision: 0)%>)</h4>
    <p class="list-group-item-text">
      <%=truncate(product.description, :length => 500, :seperator => '')%>
    </p>
  <% end %>
  <div class='pull-right'>
    <% if current_user.try(:admin?) %>
      <span><%=link_to 'Edit', edit_product_path(product) %></span>
      <span><%=link_to 'Delete', product_path(product), method: :delete %></span>
    <% end %>
  </div>
</div>
