<%=link_to product_path(product) do %>
  <div class="thumbnail">
    <%=image_tag('default', height: 267, width: 400) %>
    <div class="caption">
      <h3><%=product.title%>(<%=number_to_currency(product.target, precision: 0)%>)</h3>
      <p>by <%=product.user.username %></p>
    </div>
  </div>
<% end %>
