<div class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <div class='row'>
      <div class='col-md-6'>
        <blockquote>
          <h1><%=@product.title %></h1>
          <footer>by <%=@product.user.username%></footer>
        </blockquote>
        <p><%=simple_format @product.description%></p>
      </div>
      <div class='col-md-5 col-md-offset-1'>
        <div class="thumbnail">
          <%=image_tag('default', width: 400, height: 267) %>
          <div class="caption">
            <h4> Percentage to target (<%=number_to_currency(@product.total,precision: 0)%> / <%=number_to_currency(@product.target,precision: 0)%>)</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-
              valuenow="<%=percentage(@product)%>" aria-valuemin="0" aria-
              valuemax="100" style='min-width: 2em; width:<%=number_to_percentage(percentage(@product),precision: 0)%>;'>
                <%=number_to_percentage(percentage(@product), precision: 0) %>
              </div>
            </div>
            <%=link_to 'Donate', new_product_charge_path(@product), class:'btn btn-primary btn-block'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
