<%= form_tag product_charges_path(@product) do %>
  <div id="error_explanation">
    <% if flash[:danger].present? %>
      <p class='alert alert-danger'><%= flash[:danger] %></p>
    <% end %>
  </div>
  <article>
    <div class='form-group'>
      <%=label_tag :amount, "How much do you want to donate?"%>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%=text_field_tag(:amount, "", class: 'form-control')%>
        <div class="input-group-addon">.00</div>
      </div>
    </div>
  </article>
  <article>
    <%= hidden_field_tag(:stripeToken) %>
  </article>
  <button id='donateButton' class='btn btn-primary pull-right'>Donate</button>
<% end %>
