<div class='row'>
  <div class='col-md-4 col-md-offset-1'>
    <%=render 'form' %>
  </div>
  <div class='col-md-5 col-md-offset-1'>
    <%=render partial: 'products/product_info', locals: {product: @product} %>
  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  name: '<%=@product.title%>',
  description: 'One-time donation',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});
</script>
