<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to "Yaoie's Fund", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%=link_to "Start a campaign", new_product_path if current_user.admin? %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%=link_to "Edit profile", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%=link_to "Logout", destroy_user_session_path, method: :delete %>
            </ul>
          </li>
        <% else %>
          <li><%=link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
      <%=form_tag products_path, method: :get, class: "navbar-form navbar-right" do %>
        <div class="form-group">
          <%=text_field_tag :query, params[:query], class: "form-control" %>
        </div>
        <%=submit_tag('Search', class: "btn btn-primary") %>
      <% end %>
    </div>
  </div>
</nav>
