<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body style='color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial'>
    <%= yield %>
  </body>
</html>
